Bottles
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Katana
FubuMVC.OwinHost
FubuMVC.Spark
FubuMVC.StructureMap
FubuMVC.TestingHarness
FubuTestingSupport
HtmlTags
NUnit
Owin
Owin.Extensions
RhinoMocks
Spark
structuremap
structuremap.automocking
